@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: 'Dwarvish';
    src: url('/assets/fonts/Davek.otf');
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }

  @font-face {
    font-family: 'Elvish';
    src: url('/assets/fonts/Rellanic.otf');
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }

  @font-face {
    font-family: 'Draconic';
    src: url('/assets/fonts/Iokharic.otf');
    font-style: normal;
    font-weight: 400;
    font-display: block;
  }
}
